body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #B0BEC5;
  display: table;
  font-weight: 100;
  font-family: 'Lato'; }

.title {
  font-size: 96px;
  margin-bottom: 40px; }

.subTitle {
  font-size: 46px;
  text-decoration: underline;
  margin-bottom: 40px; }

.fixed {
  position: absolute;
  bottom: 40px;
  right: 10px; }

.button {
  background: #00B0FF;
  color: #fff;
  border: 0; }
  .button.large {
    font-size: 16pt;
    padding: 20px; }
  .button.small {
    font-size: 12pt;
    padding: 5px; }

.alert-small {
  padding-top: 5px;
  padding-bottom: 5px; }

.content {
  margin-top: 40px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar li {
  background-color: #00AF9F; }

#whoisduty-navbar a {
  color: #fff;
  font-size: 16pt; }
