body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #B0BEC5;
    font-weight: 100;
    font-family: 'Lato';
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
}
.subTitle {
    font-size: 46px;
    text-decoration: underline;
    margin-bottom: 40px;
}
.fixed {
    position: absolute;
    bottom: 40px;
    right: 10px;
}
.button {
    background: #00B0FF;
    color: #fff;
    border: 0;
    &.large {
        font-size: 16pt;
        padding: 20px;
    }
    &.small {
        font-size: 12pt;
        padding: 5px;
    }
}

.alert-small {
    padding-top: 5px;
    padding-bottom: 5px;
}
.content {
    margin-top: 40px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar li {
    background-color: #00AF9F;
    margin-right: 5px;
    &:hover {
        background-color: #0DE4D0;
    }
}

.navbar-default .navbar-nav > .active > a {
    background-color: #39CCCC;
    &:hover {
        background-color: #0DE4D0;
    }
}

#whoisduty-navbar a {
    color: #fff;
    font-size: 16pt;
}
.delete-link {
  border: 0px;
  background-color: transparent;
  padding: 0;
  color: #c00;
}

a[data-toggle="tooltip"] {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}